.two-col {
  margin-bottom: 5px;
}

.two-col .colhead1 {
  margin: 0 5px 0 5px;
  width: 25px;
}

.two-col .colhead2 {
  margin: 0 5px 0 5px;
  width: 50px;
}

.two-col .colhead3 {
  margin: 0 5px 0 5px;
  width: 100px;
}

.two-col .colhead4 {
  margin: 0 5px 0 5px;
  width: 100px;
}

.two-col .colhead5 {
  margin: 0 5px 0 5px;
  width: 100px;
}

.two-col .colhead6 {
  margin: 0 5px 0 5px;
  width: 100px;
}

.two-col .col1 {
  margin: 12px 15px 0 5px;
}

.two-col .col2 {
  margin: 5px 5px 0 5px;
}

.two-col .col3 {
  margin: 5px 5px 0 5px;
}

.two-col .col4 {
  margin: 5px 5px 0 5px;
}

.two-col .col5 {
  margin: 5px 5px 0 5px;
}

.two-col .col6 {
  margin: 0 10px 0 5px;
}

.two-col .col1,
.two-col .col2,
.two-col .col3,
.two-col .col4,
.two-col .col5,
.two-col .col6,
.two-col .colhead1,
.two-col .colhead2,
.two-col .colhead3,
.two-col .colhead4,
.two-col .colhead5,
.two-col .colhead6 {
  float: left;
}

.two-col label {
  display: block;
}

.clear {
  clear: both;
}
